<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <style>
        body{
            background-color: blue;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .form{
            width: 300px;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: bisque;
            
        }
    </style>
</head>
<body>
    <div class="form">
        <form action="#" class="student">
            <label for="name">Name:</label> <input type="text" class="name"><br><br>
            <label for="reg">Reg.No:</label> <input type="text" name="reg"><br><br>
            <label for="age">Age:</label> <input type="number" name="age"><br><br>
            <input type="submit" name="submit" value="submit">
        </form>
    </div>
</body>
</html>